<!DOCTYPE html>
<html lang="en">

<head>
<title>Peaks Geomap</title>
<style>
h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}
</style>
</head>

<body>
<h1>Peaks localization</h1>
<div>{% include "geomap/common.html" %}</div>

<div>
    <p>API Documentation : <a href="http://127.0.0.1:8000/docs/" >http://127.0.0.1:8000/docs/</a></p>
    <p>Site Administration : <a href="http://127.0.0.1:8000/admin/" >http://127.0.0.1:8000/admin/</a></p>

</div>

</body>

</html>